@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to World Web Book</h1>
    <p>Learn about <a href="https://www.worldbook.com/?utm_source=WBO&utm_medium=Banner&utm_campaign=WBP"> World Web Book Store</a>.</p>
</div>
